---
import { Image } from 'astro:assets';
import Button from './Button.astro';
import logo from '../../assets/images/logo-verde.webp';

interface Props {
  backgroundImage?: any;
  showBackground?: boolean;
}

const { backgroundImage, showBackground = false } = Astro.props;
---

<footer
  class='relative flex flex-col justify-center gap-10 bg-white py-32 overflow-hidden'
>
  <div class='relative z-10 flex justify-center gap-5'>
    <h2
      class='text-3xl md:text-4xl lg:text-6xl text-teal block text-center font-[1000]'
    >
      Se Parte de
    </h2>
    <Image src={logo} width={150} alt='Tu San Agustín' />
  </div>
  <p class='relative z-10 w-full md:w-3/4 lg:w-1/2 mx-auto text-center px-4'>
    Si eres un profesional, tienes una empresa de eventos, tienes un lugar o
    eres un artista puedes aparecer en San Agustín, ofrecer servicios y
    productos.
  </p>
  <h3
    class='relative z-10 text-3xl md:text-4xl lg:text-5xl text-teal block text-center'
  >
    Haz crecer tu negocio
  </h3>
  <div class='relative z-10 flex justify-center'>
    <Button variant='secondary' size='md'>Registrate Gratis</Button>
  </div>
</footer>
