---
import Layout from '../../layouts/LayoutGayMarriage.astro';
import Banner from '../../components/gay_marriage/Banner.astro';
import GuideBody from '../../components/gay_marriage/GuideBody.astro';

import Navbar from '../../components/gay_marriage/Navbar.astro';



import BrandInfo from '../../components/gay_marriage/BrandInfo.astro';
import Footer from '../../components/gay_marriage/Footer.astro';

---



<Layout title="Home">
	<Navbar />
	<main class="min-h-screen">

		<Banner />
		<GuideBody />



		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="my-0 md:my-10"></div>
		<BrandInfo />
		<Footer />
	</main>
</Layout>
