---
import { Image } from 'astro:assets';
import imgJBalvin from '../../assets/images/jbalvin.webp';
import imgKarolG from '../../assets/images/2-8.webp';
import imgMaluma from '../../assets/images/1-8.webp';
import imgArticle from '../../assets/images/lugares/tu_san_agustin_lugares_para_eventos_haciendasyfincasparabodas_018.webp';
---

<div class='bg-[#323639] py-8 md:py-16 overflow-hidden relative'>
  <div class='max-w-7xl mx-auto px-4 md:px-10 relative'>
    <div class='relative w-full mb-8 md:mb-16 px-8 md:px-12'>
      <button
        class='swiper-prev-artistas absolute left-0 top-1/2 -translate-y-[60%] z-20 w-10 h-10 flex items-center justify-center text-gray-400 hover:text-[#4EAC9F] hover:scale-110 transition-all cursor-pointer outline-none'
        aria-label='Artista anterior'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='40'
          height='40'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'><path d='M15 18l-6-6 6-6'></path></svg
        >
      </button>

      <button
        class='swiper-next-artistas absolute right-0 top-1/2 -translate-y-[60%] z-20 w-10 h-10 flex items-center justify-center text-gray-400 hover:text-[#4EAC9F] hover:scale-110 transition-all cursor-pointer outline-none'
        aria-label='Artista siguiente'
      >
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='40'
          height='40'
          viewBox='0 0 24 24'
          fill='none'
          stroke='currentColor'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'><path d='M9 18l6-6-6-6'></path></svg
        >
      </button>

      <div class='swiper swiperArtistas w-full'>
        <div class='swiper-wrapper'>
          <div class='swiper-slide'>
            <div>
              <div>
                <h2
                  class='text-center text-[#51AB9E] font-extrabold text-2xl mb-5'
                >
                  Haciendas y Fincas para Bodas Medellin
                </h2>
                <Image
                  src={imgArticle}
                  class='w-full h-full object-cover'
                  style='object-position: center 25%;'
                  alt='J Balvin'
                  width={240}
                  height={240}
                  loading='lazy'
                  quality={70}
                />
              </div>
              <h5 class='text-white text-base mb-2'>
                Lorem ipsum dolor sit amet c
              </h5>
              <p class='text-white text-sm'>
                repellat rem ipsa! Ipsam nam temporibus voluptatem nisi officia
                voluptas?
              </p>
              <button
                class='bg-[#4DAC9F] px-5 rounded-full text-2xl italic text-white mx-auto mt-5'
              >
                Ver mas
              </button>
            </div>
          </div>
          <div class='swiper-slide'>
            <div>
              <div>
                <h2
                  class='text-center text-[#51AB9E] font-extrabold text-2xl mb-5'
                >
                  Haciendas y Fincas para Bodas Medellin
                </h2>
                <Image
                  src={imgArticle}
                  class='w-full h-full object-cover'
                  style='object-position: center 25%;'
                  alt='J Balvin'
                  width={240}
                  height={240}
                  loading='lazy'
                  quality={70}
                />
              </div>
              <h5 class='text-white text-base mb-2'>
                Lorem ipsum dolor sit amet c
              </h5>
              <p class='text-white text-sm'>
                repellat rem ipsa! Ipsam nam temporibus voluptatem nisi officia
                voluptas?
              </p>
              <button
                class='bg-[#4DAC9F] px-5 rounded-full text-2xl italic text-white mx-auto mt-5'
              >
                Ver mas
              </button>
            </div>
          </div>
          <div class='swiper-slide'>
            <div>
              <div>
                <h2
                  class='text-center text-[#51AB9E] font-extrabold text-2xl mb-5'
                >
                  Haciendas y Fincas para Bodas Medellin
                </h2>
                <Image
                  src={imgArticle}
                  class='w-full h-full object-cover'
                  style='object-position: center 25%;'
                  alt='J Balvin'
                  width={240}
                  height={240}
                  loading='lazy'
                  quality={70}
                />
              </div>
              <h5 class='text-white text-base mb-2'>
                Lorem ipsum dolor sit amet c
              </h5>
              <p class='text-white text-sm'>
                repellat rem ipsa! Ipsam nam temporibus voluptatem nisi officia
                voluptas?
              </p>
              <button
                class='bg-[#4DAC9F] px-5 rounded-full text-2xl italic text-white mx-auto mt-5'
              >
                Ver mas
              </button>
            </div>
          </div>
          <div class='swiper-slide'>
            <div>
              <div>
                <h2
                  class='text-center text-[#51AB9E] font-extrabold text-2xl mb-5'
                >
                  Haciendas y Fincas para Bodas Medellin
                </h2>
                <Image
                  src={imgArticle}
                  class='w-full h-full object-cover'
                  style='object-position: center 25%;'
                  alt='J Balvin'
                  width={240}
                  height={240}
                  loading='lazy'
                  quality={70}
                />
              </div>
              <h5 class='text-white text-base mb-2'>
                Lorem ipsum dolor sit amet c
              </h5>
              <p class='text-white text-sm'>
                repellat rem ipsa! Ipsam nam temporibus voluptatem nisi officia
                voluptas?
              </p>
              <button
                class='bg-[#4DAC9F] px-5 rounded-full text-2xl italic text-white mx-auto mt-5'
              >
                Ver mas
              </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <style>
    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
      height: auto;
      /* Opacidad eliminada, se ver치n al 100% */
      transition: transform 0.3s ease;
      transform: scale(
        0.9
      ); /* Ligeramente m치s peque침os los lados para dar profundidad */
      will-change: transform;
    }

    .swiper-slide-active {
      transform: scale(1); /* El del centro se ve tama침o completo */
      z-index: 10;
    }

    .swiper-prev-artistas,
    .swiper-next-artistas {
      width: 40px;
      height: 40px;
    }
  </style>

  <script>
    import Swiper from 'swiper';
    import { Navigation, Autoplay } from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/navigation';

    const initArtistasSwiper = () => {
      requestAnimationFrame(() => {
        const swiper = new Swiper('.swiperArtistas', {
          modules: [Navigation, Autoplay],
          loop: true,
          loopedSlides: 3,
          loopAdditionalSlides: 3,
          centeredSlides: true,
          slidesPerView: 3,
          spaceBetween: 0,
          initialSlide: 1,
          autoplay: {
            delay: 3500,
            disableOnInteraction: false,
            pauseOnMouseEnter: true,
          },
          navigation: {
            nextEl: '.swiper-next-artistas',
            prevEl: '.swiper-prev-artistas',
          },
          observer: false,
          observeParents: false,
          breakpoints: {
            0: {
              slidesPerView: 1,
              spaceBetween: 20,
              loopedSlides: 3,
              loopAdditionalSlides: 3,
            },
            640: {
              slidesPerView: 2,
              spaceBetween: 30,
              loopedSlides: 3,
              loopAdditionalSlides: 3,
            },
            1024: {
              slidesPerView: 3,
              spaceBetween: 0,
              loopedSlides: 3,
              loopAdditionalSlides: 3,
            },
          },
        });
      });
    };

    initArtistasSwiper();
    document.addEventListener('astro:page-load', initArtistasSwiper);
  </script>
</div>
