---
import Layout from '../layouts/LayoutBodaIgualitaria.astro';
import Banner from '../components/boda_igualitaria/Banner.astro';
import GuideBody from '../components/boda_igualitaria/GuideBody.astro';

import Navbar from '../components/boda_igualitaria/Navbar.astro';

import BrandInfo from '../components/boda_igualitaria/BrandInfo.astro';
import Footer from '../components/boda_igualitaria/Footer.astro';

const seo = {
	title: 'Bodas Igualitarias en Medellín - Amor Sin Etiquetas',
	description: 'Organizamos bodas LGBTQ+ en Medellín y Colombia. Celebra tu amor sin etiquetas con la misma dedicación y elegancia. Wedding planner especializado en matrimonios igualitarios.',
	keywords: 'bodas igualitarias Medellín, bodas LGBTQ Colombia, matrimonio igualitario, bodas gay Medellín, wedding planner LGBTQ'
};
---

<Layout
	title={seo.title}
	description={seo.description}
	keywords={seo.keywords}
>
	<Navbar />
	<main class="min-h-screen">

		<Banner />
		<GuideBody />



		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="my-0 md:my-10"></div>
		<BrandInfo />
		<Footer />
	</main>
</Layout>
