---
import Layout from '../layouts/LayoutHome.astro';
import Banner from '../components/home/Banner.astro';
import Carousel from '../components/home/Carousel.astro';
import Intro from '../components/home/Intro.astro';
import Navbar from '../components/layout/Navbar.astro';
import Eventos from '../components/home/EventosUnicos.astro';
import ServiciosDestacados from '../components/home/ServiciosDestacados.astro';
import Locaciones from '../components/home/Locaciones.astro';
import VideoSection from '../components/home/VideoSection.astro';
import ArtistasEspectaculos from '../components/home/ArtistasEspectaculos.astro';
import HistoriasEventos from '../components/home/HistoriasEventos.astro';
import TurismoBlock from '../components/home/TurismoBlock.astro';
import BlogsSection from '../components/home/BlogsSection.astro';
import BrandInfo from '../components/home/BrandInfo.astro';
import Footer from '../components/home/Footer.astro';
---



<Layout title="Home">
	<Navbar />
	<main class="min-h-screen">

		<Banner />
		<Eventos />
		<ServiciosDestacados />
		<Locaciones />
		<VideoSection />
		<ArtistasEspectaculos />
		<HistoriasEventos />

		<Intro />

		<div class="md:my-16"></div>
		<Carousel />

		<div class="md:my-16"></div>
		<TurismoBlock />

		<div class="md:my-16"></div>
		<BlogsSection />


		<div class="my-0 md:my-10"></div>
		<BrandInfo />
		<Footer />
	</main>
</Layout>
