---
import Layout from '../layouts/LayoutWeddingVenues.astro';
import Banner from '../components/wedding_venues/Banner.astro';
import GuideBody from '../components/wedding_venues/GuideBody.astro';

import Navbar from '../components/wedding_venues/Navbar.astro';



import BrandInfo from '../components/wedding_venues/BrandInfo.astro';
import Footer from '../components/shared/Footer.astro';

---



<Layout title="Home">
	<Navbar />
	<main class="min-h-screen">

		<Banner />
		<GuideBody />



		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="md:my-16"></div>


		<div class="my-0 md:my-10"></div>
		<BrandInfo />
		<Footer />
	</main>
</Layout>
