---
import '../styles/admin.css';

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Panel de administración para gestionar Tu San Agustín"
} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex, nofollow" />

		<title>{title}</title>
		<meta name="description" content={description}/>

		<link rel="shortcut icon" href="https://www.tusanagustin.com/assets/media/logo-header-new_extraLargeThumb.webp">
	</head>
	<body class="admin-theme min-h-screen font-sans antialiased">
		<slot />
	</body>
</html>
