---
import '../styles/global.css';
import ScrollToTop from '../components/gay_marriage/ui/ScrollToTop.astro';
import SearchModal from '../components/gay_marriage/ui/SearchModal.astro';
import { getImage } from 'astro:assets';


interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en" class="dark">
	<head>
 <meta charset="UTF-8">
      <meta name="description"
      content="El amor es amor en cualquiera de sus formas Encontrar a esa persona ideal, que sea el cómplice perfecto para recorrer de principio a ...">
<!-- Schema.org para Google+ -->

<meta itemprop="name" content="BODAS IGUALITARIAS EN MEDELLÍN">
<meta itemprop="description"
      content="El amor es amor en cualquiera de sus formas Encontrar a esa persona ideal, que sea el cómplice perfecto para recorrer de principio a ...">
<meta itemprop="image" content=" https://www.tusanagustin.com/assets/media/blog/bodas-igualitarias-en-medellin/272.jpg">
<!-- Open Graph para Facebook-->
<meta property="og:title" content="BODAS IGUALITARIAS EN MEDELLÍN"/>
<meta property="og:type" content="article"/>
<meta property="og:url" content="https://www.tusanagustin.com/blog/bodas-igualitarias-en-medellin"/>
<meta property="og:image" content="https://www.tusanagustin.com/assets/media/blog/bodas-igualitarias-en-medellin/272.jpg"/>
<meta property="og:description"
      content="El amor es amor en cualquiera de sus formas Encontrar a esa persona ideal, que sea el cómplice perfecto para recorrer de principio a ..."/>
<meta property="og:site_name" content="Tu San Agustin"/>
<meta property="og:locale" content="es_LA">
	</head>

	<meta name="keywords" content="Viajes y turismo san agustín">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="Sn6woLackUqYanWzaUZGKRRqVT9twqtK2XgC4UVm"/>
    <title>  BODAS IGUALITARIAS EN MEDELLÍN | Tu San Agustin</title>
	<body class="min-h-screen font-sans antialiased">
		<slot />
        <ScrollToTop />
        <SearchModal />
	</body>
</html>
